# 2-3.1 Intro Python
# The Power of List Iteration
- **for in: `for` loop using `in`**
- for range: **`for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**   
- strings to lists, **`.split()`**, and list to strings, **`.join()`**   


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- **Iterate through Lists** using **`for`** with **`in`**
- Use **`for range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Iterate through Lists using 
# ` for in`
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.vtt","srclang":"en","kind":"subtitles","label":"english"}])
```python
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)
```

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [1]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

In [6]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
print(sales)
print("total sales:", total)

[6, 8, 9, 11, 12, 17, 19, 20, 22]
total sales: 124

change the iterator variable name from "sale" to "dollars" or to any valid name

In [7]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

### Iterate through Lists using `in`

In [12]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list
birds=["gubbi","kagi","koli","batukoli"]
new=""
for bird in birds:
    print(birds)
    new +=bird
    print(new)

['gubbi', 'kagi', 'koli', 'batukoli']
gubbi
['gubbi', 'kagi', 'koli', 'batukoli']
gubbikagi
['gubbi', 'kagi', 'koli', 'batukoli']
gubbikagikoli
['gubbi', 'kagi', 'koli', 'batukoli']
gubbikagikolibatukoli

In [40]:
# [ ]  create a list of 7 integers: player_points
player_points=[5,8,6,4,5,9,5]
double=2
# [ ] print double the points for each point value
for player in player_points:
    double*=player
    print(player_points)
print(double)

[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
[5, 8, 6, 4, 5, 9, 5]
432000

In [30]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
long_string=["kumbar kagi",birds]
# print long_string - make sure to put a space betweeen the bird names
print(long_string)

['kumbar kagi', ['gubbi', 'kagi', 'koli', 'batukoli']]

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Sort and Filter

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use comparison operators while iterating lists

### &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [41]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [42]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## sort and filter

In [79]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
city_names=["belgaum","sadalga","mysore","goa"]
# [ ] Print only cities starting with "m"
city_m=""
city_o=""
for city in city_names:
    if city.startswith("m"):
        city_m +="\n"+city
    else:
        city_o+="\n"+city
print("City names starts with m are: ",city_m)
print("City names starts without m are: ",city_o)

City names starts with m are:
mysore
City names starts without m are:
belgaum
sadalga
goa

In [77]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city

cities=["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
# [ ] Print only cities starting with "m"
city_a=""
city_n=""
for city in cities:
    if city.startswith("A"):
        city_a +="\n"+ city 
    else:
        city_n +="\n"+ city
print("City names starts with A are: ",city_a)
print("City names starts without A are: ",city_n)

City names starts with A are:
City names starts without A are:
New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  
## More iteration of lists
## - Counting
## - Searching

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use string methods while iterating lists

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [83]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
search_letter = "a"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "a" found in the list is 6

<font size="4" color="#00A0B2"  face="verdana"> <B>search function</B></font>
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.vtt","srclang":"en","kind":"subtitles","label":"english"}])

In [ ]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visitied_cites list is", city_search(search,visited_cities))

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>  
## Program: Paint Stock  
check a list for a paint color request and print status of color "found"/"not found"
- create list, paint_colors, with 5+ colors
- get user input of string:color_request
- iterate through each color in paint_colors to check for a match with color_request

In [80]:
# [ ] complete paint stock

In [82]:
numbers = [7, 1, 5, 8, 0]
for number in numbers:
    print(number)

7
1
5
8
0

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>  
## Program: Foot Bones Quiz
**Create a function** that will iterate through foot_bones looking for a match of a string argument
- Call the function 2 times with the name of a footbone 
- print immediate feedback for each answer (correct - incorrect)
- print the total # of foot_bones identified


The program will use the foot_bones list:
```python 
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]
```
Bonus: remove correct response item from list if correct so user cannot answer same item twice

In [ ]:
# [ ] Complete Foot Bones Quiz
# foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
#             "intermediate cuneiform", "medial cuneiform"]

In [ ]:
# [ ] bonus version

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft